<ion-view view-title="Fellowship Feed">
  <ion-content class="main-bg">

    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="loadFirstPage()">
    </ion-refresher>

    <ion-list class="list">
        <ion-item class="item-text-wrap item-dark" ng-repeat="activity in activities track by activity.id">
          <div class="row">
          <div class="col col-60">
                <ul>
                  <li><b>{{activity.name}}</b></li>
                  <li class="small-text"> {{activity.time | date: 'hh:mm a EEE, MMM d, yyyy' }}</li>
                  <li class="small-text">{{activity.listProgressPct | number:0}}% through list #{{activity.listNbr}}</li>
                </ul>
          </div>
          <div class="col col-40">
              <ul>
                  <li><b>{{activity.beer.name}}</b></li>
                  <li class="small-text">by {{activity.beer.brewery}}</li>
              </ul>
          </div>
        </div>
        </ion-item>
    </ion-list>

    <ion-infinite-scroll
      on-infinite="loadNextPage()"
      distance="1%">
   </ion-infinite-scroll>

  </ion-content>
</ion-view>
