<ion-view view-title="Fellowship Feed">
  <ion-content class="main-bg">

    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="loadFirstPage()">
    </ion-refresher>

    <ion-list class="list">
        <ion-item ng-repeat="activity in activities track by activity.id"
          ng-class="{
            'item-text-wrap item-dark' : (activity.listProgressPct <= 99.9),
            'item-text-wrap activity-finished-list' : (activity.listProgressPct >= 100)
          }">
          <div class="row">
          <div class="col col-60">
                <ul>
                  <li><b>{{activity.name}}</b></li>
                  <li class="small-text"> {{activity.time | date: 'hh:mm a EEE, MMM d, yyyy' }}</li>
                  <li class="small-text">{{activity.listProgressPct | number:0}}% through list #{{activity.listNbr}}</li>
                </ul>
          </div>
          <div class="col col-40">
              <ul>
                  <li><b>{{activity.beer.name}}</b></li>
                  <li class="small-text">by {{activity.beer.brewery}}</li>
              </ul>
          </div>
        </div>
        <div class="row">
            <span ng-show="activity.listProgressPct >= 100">
              <h1><i class="icon ion-speakerphone"></i>&nbsp;Finished List #{{activity.listNbr}}!</h1>
            </span>
        </div>
        </ion-item>
    </ion-list>

    <ion-infinite-scroll
      on-infinite="loadNextPage()"
      distance="1%">
   </ion-infinite-scroll>

  </ion-content>
</ion-view>
