<ion-view view-title="Join">
  <ion-header-bar class="bar">
    <h1 class="title">Join Beer Tour</h1>
      <button class="button button-clear" ng-click="back()">Cancel</button>
  </ion-header-bar>

  <ion-content class="has-header" scroll="true" overflow-scroll="false">
    <form name="joinForm">
    <ion-input class="item item-input item-stacked-label">
      <ion-label ng-class="{ 'has-errors':joinForm.email.$invalid,'no-errors':joinForm.email.$valid}">Email</ion-label>
      <input type="email" name="email" ng-model="acctData.email" required="required" placeholder="you@yourmail.com">
    </ion-input>
    <ion-input class="item item-input item-stacked-label">
      <ion-label ng-class="{ 'has-errors':joinForm.password.$invalid,'no-errors':joinForm.password.$valid}">Password</ion-label>
      <input type="password" name="password" ng-model="acctData.password" required="required" placeholder="not set">
    </ion-input>
    <ion-input class="item item-input item-stacked-label">
      <ion-label
        ng-class="{ 'has-errors':joinForm.password2.$invalid,'no-errors':joinForm.password2.$valid}">
        Re-enter password
      </ion-label>
      <input type="password" name="password2" ng-model="acctData.password2" required="required" placeholder="not set">
    </ion-input>
    <ion-input class="item item-input item-stacked-label">
      <ion-label
        ng-class="{ 'has-errors':joinForm.name.$invalid,'no-errors':joinForm.name.$valid}">
        First and Last Name
      </ion-label>
      <input type="text" name="name" ng-model="acctData.name" required="required" placeholder="not set">
    </ion-input>
    <ion-input class="item item-input item-stacked-label">
      <ion-label class="input-label">Nickname</ion-label>
      <input type="text" ng-model="acctData.nickName" placeholder="not set">
    </ion-input>
    <ion-input class="item item-input item-stacked-label">
      <ion-label
        ng-class="{ 'has-errors':joinForm.listNbr.$invalid,'no-errors':joinForm.listNbr.$valid}">
        How many lists have you already finished? (Optional)
      </ion-label>
      <input type="number" name="listNbr" ng-model="acctData.listNbr" placeholder="0">
    </ion-input>
    <button
      class="button button-block button-positive"
      ng-disabled="joinForm.$invalid"
      ng-click="join()"
      type="submit">Submit</button>
  </form>

    <div class="row">
        <div class="col text-center">{{errorMessage}}</div>
    </div>

  </ion-content>
</ion-view>
