<ion-view view-title="World of Beer Tour">
  <ion-content class="main-bg">

    <div class="col h5 text-center">
        <ul>
          <li>{{myBeerList.user.name}}</li>
          <li>List #{{myBeerList.listNumber}} started {{myBeerList.startDate}}</li>
          <li>Completed {{myBeerList.numberOrderedOnList}} of {{myBeerList.totalBeersOnList}}
            <span ng-show="myBeerList.numberNotConfirmed > 0">
              ({{myBeerList.numberNotConfirmed}} pending)</span>
          </li>
        </ul>
    </div>

    <p>
    <div class="col text-center>">
        <div id="myProgress">
          <div id="myProgressBar" style="width: {{myBeerList.listProgressPct}}%">
            <div id="label" class="text-right">
              {{myBeerList.listProgressPct|number:2}}%
            </div>
        </div>
    </div>
    </p>

      <ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="refresh()">
      </ion-refresher>
      <ion-list can-swipe="true">
        <div ng-repeat="group in groupedList track by group.country">
          <ion-item class="item-text-wrap item-dark" ng-click=toggleGroup(group) ng-class="{active: isGroupShown(group)}">
            <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'">&nbsp</i>
            {{group.country}}
          </ion-item>
          <ion-item ng-show="isGroupShown(group)"
            class="item-text-wrap item-dark"
            ng-repeat="listBeer in group.beers track by listBeer.id"
            item-height="300px" item-width="100%">
            <div class="row">
                <div class="col col-66">
                  <b>{{::listBeer.beer.name}}</b><br>
                  {{::listBeer.beer.brewery}}<br>
                  {{::listBeer.beer.country}} {{::listBeer.beer.region}}
                </div>
                <div class="col col-33">{{::listBeer.beer.style}}<br>
                  {{::listBeer.beer.abv}}% abv<br>
                  {{::listBeer.beer.oz}} oz
                </div>
            </div>
            <ion-option-button
              class="button-positive button-large"
              ng-click="drinkBeer(myBeerList.id,group,listBeer)">
              Drink<i class="icon ion-beer padding"></i>
              </ion-option-button>
        </ion-item>
      </div>
      </ion-list>


  </ion-content>
</ion-view>
